.photo{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.Healthy-food{
    color:#ffd025b6 ;
    text-shadow: 2px 1px  white;
    font-family: 'Great Vibes', cursive !important;
    font-size: 6rem ;
    padding-top: 2rem;
   
    text-align: center;
 
}
.logo{
    left: -1rem;
}
.menu{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0,0.5);
    transition: all 1s;
}
.ex{

    position: absolute;
    top:2%;
    right: 3%;
    font-size: 40px;
    color: white;
    z-index: 9;
    cursor: pointer;
    transition: all 1s;
   
    &:hover{
        transform: rotate(720deg);
        color: wheat;

    }
}
.men{
    width: 90%;
    margin: 30px auto;
    margin-left: 4%;
  height: 90vh;
}
.ph{
    margin: 6px;
    margin-left: 1%;
}
.me{
    width: 100%;
    z-index: 5;
}
.i{
    width: 100%;
    height: 90vh;
    border-radius: 20px;
}
.cart{
    position: absolute;
    background-color: whitesmoke;
 
    cursor: pointer;
    z-index: 4;
    font-size: 30px;
    color: red;
    padding:2px 5px;
    border-radius: 5px;
    transition: all 1s;
 
}
.arr{
    position: absolute;
    z-index: 2;
    bottom: -10px;
    font-size: 40px;
    left: 45%;
    color: white;
    text-shadow: 2px 2px black;
    cursor: pointer;
    animation: animate 2s infinite;
    transition: 1s;
}
.arr span{
    font-size: 10px;
}
.arr:hover{
    color:rgb(240, 159, 10);
}

.parent{

    float: left;
    width: 30%;
    margin-top: 1%;
    margin-left:2%;
    margin-bottom: 3.5%;
    text-align: center;
    overflow: hidden;
    border: 1px solid white;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    box-shadow: 4px 4px 9px ;
    h3{
        color: rgb(83, 6, 6);
        padding: 1%;
        font-size: 30px;
      
    }
    p{
        color: black;
        padding: 1%;
        line-height: 1;
        font-size: 20px;
        font-weight: bold;
      
    
    }
    img{
        border-radius: 20px 20px 0px 0px;
        width: 100%;height: 100%;
        transition: 1s;
        
    }
    .m_im{
        width: 100%;
        height: 300px;
       transition: 1s;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        transition: all 1s ease-in-out; 
    }
    .m_im:hover img{
         transform: scale(1.2);
    }
    
}

.text{

    position: absolute;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 300px;
    opacity: 0;
    line-height: 1.1;
    transition: all 1.5s ease-in-out;
    
    top: 0px;
    color: white;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.7);
    h3{
        font-size: 2.6rem;
        color: rgb(255, 182, 46);
        
    }
    p{
        line-height: 1.5;
        color: white;
    }
   
}

.m_i{
    top: 0px !important;;
    
    }
   
    .tex{
        opacity: 1;
        margin-bottom: -20px;
    }
    .shop{
        font-size: 20px;
      cursor: pointer;
      &:hover{
    color: red;
      }
    }
.basket_display{
    transform: scale(0)
}
  
.butt{
    width: 60%;font-size: 20px;
    background-color:orange;
    border-radius: 10px;font-weight: bold;
    padding: 10px;
    &:hover{
        background-color: rgb(212, 143, 16);
        color: seashell;
    }
}
.exite_hide{
    display: none;
}

.button{
    margin-left: 3%;
    padding:3%;
    background-color: rgb(235, 154, 5);
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 4%;
  
    
}
////////////////////////////////////////////@at-root

@media(max-width:767px ){
    .Healthy-food{

        font-size: 4rem;
        width: 90%;
        text-align: center;
    }
    .ph{
        width: 95% !important;
        margin-bottom: 7%;
        float: none;
     }
}
@media(min-width:500px )and (max-width:1999px){
    
   

   
   
    .cart{
   
    
        right: 17%;
        top:6%;
     &:hover{
            color: rgb(255, 255, 255);
            
            background-color: black;
        }
       
    }
    .display{
        display: none;
    }
   

}

@media(min-width:1200px){
 
    .Healthy-food{

        font-size: 6rem;
        
    }

 .display{
        display: inline;
    }
    
    .cart{
     
        right: 5% !important;
    top: 4%;
        font-size: 30px;
        &:hover{
            color: rgb(255, 255, 255);
            
            background-color: black;
        }
    }
}

@media(max-width:767px){
   
    .parent{
        float: none;
        width: 90%;
        margin: 9% auto;
        
    }

        .text{
            padding: 4%;
        }
   
}
@media(min-width:768px) and (max-width:992px){
  
    .parent{

        width: 45%;
     margin: 2%;
        
    }

}
