<footer class="footer">
   
    <div class="footer-content">

        <div class="fll ">
          <h2 style=" text-align: center;"> Contact Info :</h2>
            <ul style="line-height: 1.7;">
               <li class="li" >
                We believe in Simple Creative and Flexible Design Standards.
               </li>

               <li class="li" >
               +123-456-7890
               </li>
               <li class="li" >
                +183-450-7360
                </li>
               <li class="li" >
                Email:info@pastawessy.com
               </li>
            </ul>
        </div>

        <div class="fll ">
          <h2 style=" text-align: center;"> locations :</h2>
         <ul>
            <li> India</li>
            <li> USA</li>
            <li> Russia</li>
            <li> Japan</li>
         </ul>
      </div>
      <div class="fll">
        <h2 style=" text-align: center;"> Links :</h2>
       <ul>
         <li><a routerLink="/home">Home</a> </li>
          <li><a routerLink="/food">Foods</a> </li>
          <li> <a routerLink="/location">locations</a></li>
          <li><a routerLink="/signup">sign in</a> </li>
          
       </ul>
    </div>

        <div class="fll soci">
            <h2 >Social Contact :</h2>
           <div>
            
              <i  class="fab fa-facebook-square"></i>
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
           </div>
        </div>
          
    
   </div>
   <div class="clear"></div>
         

    <div class="copy-right"> &copy; 2021 All Rights Reserved. Designed by Asu team</div>
   </footer>
